.home {
  margin-top: 50px;
  margin: 50px;
  display: block;
}

.title h1 {
  font-size: 123px;
  font-weight: 700;
  letter-spacing: -4px;
  line-height: 110.7px;
  margin-top: 200;
  margin: 0;
  width: 90%;
}

.title h2 {
  margin-top: 50px;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -1.3px;
  line-height: 47px;
  width: 800px;
}

.work {
  margin-top: 150px;
}

.work_title {
  display: flex;
  justify-content: space-between;
  
}
.work_title h3{
    font-weight: 500;
}
.work_item {
  margin-top: 25px;
  width: 100%;
  margin-bottom: 250px;
}



.btn {
  position: relative;
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-width: 1px;
  overflow: hidden;
  border-radius: 30px;
  background-color: #f5f5f5;
  color: #000000;
  cursor: pointer;
  border-color: #000000;
}
.btn::before {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "karloplazaro@yahoo.com";
  transition: all 0.3s;
}
.btn::after {
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  height: 100%;
  content: "Let's Connect!";
  transition: all 0.3s;
  background-color: black;
  color: #ffffff;
}
.btn:hover::before {
  top: -60px;
}
.btn:hover::after {
  top: 0;
}
.btn h1 {
  margin: 20px 0 0;
  color: #202b33;
  font-size: 3rem;
  letter-spacing: 1px;
  text-align: center;
}

.details {
  display: flex;
  margin-top: 10px;
  gap: 10%;
  padding: 0 0 0 30px;
}

.details h3 {
  font-weight: 500;
}

.description {
  display: flex;
  gap: 30%;
  margin-top: 250px;
}

.description h2 {
  width: 900px;
  font-size: 40px;
  font-weight: 500;

}

.img_div {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  height: 800px;
  
}
.img_div img {
  display: block;
  width: 100%;
  object-fit: contain;
  transition: 0.5s all ease-in-out;
}

.img_div img:hover {
  transform: scale(1.05);
}
.middle {
  background-color: antiquewhite;
  width: 150px;
  
  height: 150px;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}



.img_div:hover .middle{
  opacity: 1;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
}
